* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: darkslategray;
    background-color: bisque;
    overflow-x: hidden;
}

header {
    text-align: center;
}

header hr {
    width: 70%;
    margin: 10px auto;
    border: 1px solid darkslategrey;
}

main {
    max-width: 700px;
    margin: 5px auto;
    padding: 12px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

footer {
    background-color: lightgrey;
    padding: 24px 0 36px;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.2rem;

}

a {
    color: #16a085;
    text-decoration: none;
}

footer nav a {
    margin: 0 10px;
}